/* @import url('./static/reset.css'); */
@import url('./static/roboto-fontface/css/roboto/roboto-fontface.css');
@import url('./static/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css');

body {
  background: #11141f;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4rem;
  margin: 0;
  padding: 0;
}

.temp {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20rem;
}